@import '../../styles/mixins.scss';

.services {
  hr {
    border-top: 3px solid #ffcd00;
  }

  @include all-mobile {
    hr {
      max-width: 80%;
    }
  }

  ul {
    padding: 0;
  }
  li {
    list-style: none;
    text-align: center;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 25px;
  }

  ul li::before {
    content: '\2022';
    color: #ffcd00;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}
