@import '../../styles/mixins.scss';

.navbar {
  min-height: 130px;
  width: 100%;

  a {
    font-size: 20px;
  }

  &-nav {
    width: 100%;
  }

  &-brand {
    span {
      font-size: 25px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
    }

    .first {
      color: #1e2126;
    }
    .second {
      color: #ffcd00;
    }
    .third {
      color: #ffcd00;
    }
  }

  @include small-tablet {
    li:last-child {
      max-width: 250px;
      margin-left: 0 !important;
    }
  }

  @include all-mobile {
    li:last-child {
      max-width: 250px;
      margin-left: 0 !important;
    }
  }

  li:last-child {
    margin-left: auto;
    // a {
    //   -webkit-transition: all 400ms linear 0s;
    //   -o-transition: all 400ms linear 0s;
    //   transition: all 400ms linear 0s;
    // }
    // a:hover {
    //   color: #5beb34 !important;
    // }
  }

  li {
    margin-right: 10px;
  }

  @include all-but-desktop {
    li {
      margin-right: 0;
    }
  }

  svg {
    width: 30px;
    height: 30px;
    color: #5beb34;
    margin-right: 10px;
  }

  .navbar-nav .active {
    .nav-link {
      color: #ffcd00 !important;
      font-weight: 600 !important;
    }
  }
}
