@import './styles/mixins.scss';

.App {
  font-family: ff-tisa-sans-web-pro, sans-serif;
  font-style: normal;
  font-weight: 100;
  text-align: center;
  width: auto;
  @include small-mobile {
    width: fit-content;
  }
}

.navigation-wrapper {
  position: sticky;
  top: 0;
  z-index: 100;
  opacity: 0.9;
}

img {
  vertical-align: middle;
}
